<!DOCTYPE html>
{% load static %}
<html lang="">
<head>
    <title>Cycle Dates</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="background-color">
    <h1 class="header">Cycle Dates</h1>
    <form method="post">
        {% csrf_token %}
        <label for="previous_date" class="previous_date">What day did you your most recent period start? (dd/MM/yyyy):</label>
        <input type="Text" name="previous_date" id="previous_date" class="first_button">
        <br>
        <label for="cycle_length" class="cycle_length">Number of days in your cycle(in days):</label>
        <input type="text" name="cycle_length" id="cycle_length" class="second_button">
        <br>
        <input type="submit" value="Generate Cycle Dates" class="button">
    </form>
    {% if cycle %}
    <div class="cycle-dates">
        <p class="next_occurrence">Next Occurrence: {{ cycle.next_occurrence }}</p>
        <div class="second_row">
        <p>Next 12 Occurrences:</p>
        <ul class="next-12-occurrences">
            {% for occurrence in cycle.next_12_occurrences %}
            <li>{{ occurrence }}</li>
            {% endfor %}
        </ul>
            </div>
        <p class="flow_date">Flow Date: {{ cycle.flow_date }}</p>

        <p class="ovulation_date">Your predicted ovulation day is: {{ cycle.ovulation_date }}</p>

        <div class="safe_periods">
        <p class="sp">Safe Periods:</p>
        <ul class="safe-periods">
            {% for period in cycle.safe_periods %}
            <li>{{ period.0 }} - {{ period.1 }}</li>
            {% endfor %}
        </ul>
        </div>

        <div class="fertile_periods">
            <p class="fp">Your next most fertile time is from: </p>
            <ul class="fertile-periods">
            {% for period in cycle.fertile_periods %}
            <li>{{ period.0 }} - {{ period.1 }}</li>
            {% endfor %}
            </ul>
        </div>

    </div>

    {% endif %}
</body>
</html>
